{% extends 'master.html' %} {% load static %} {% block mainblock %}

<body style="font-family: 'Cairo', sans-serif">
  <div id="page-content">
    <!-- Forms General Header -->
    <div class="content-header">
      <div class="header-section">
        <h1>
          <i class="gi gi-notes_2"></i>
          <p class="text-right" dir="rtl">تغيير كلمة المرور</p>
        </h1>
      </div>
    </div>
    <!-- END Forms General Header -->
    <div class="row">
      <div class="col-md-12">
        <!-- Basic Form Elements Block -->
        <div class="block">
          <!-- Basic Form Elements Title -->
          <div class="block-title text-right">
            <h2 class="text-right"><strong>تغيير</strong> كلمة المرور</h2>
          </div>
          <!-- END Form Elements Title -->
          <!-- Basic Form Elements Content -->
          <form action="{%url 'change_password' %}" method="post" enctype="multipart/form-data"
            class="form-horizontal form-bordered text-right">
            {% csrf_token %}
            <div class="form-group ">
              <div class="col-md-6 ">
                <input type="password" id="newpass" name="newpass" class="form-control text-right"
                  placeholder="كلمة المرور الجديدة">
              </div>

              <div class="col-md-6">
                <input type="password" id="oldpass" name="oldpass" class="form-control text-right"
                  placeholder="كلمة المرور القديمة">
              </div>
            </div>
            <div class="form-group">
              <div class="col-md-4">
              </div>
              <div class="col-md-4 ">
                <button type="submit" class="btn btn-lg btn-success btn-block ">
                  <i class="fa fa-floppy-o"></i> حفظ التعديلات
                </button>
              </div>
              <div class="class col md-4">

              </div>
            </div>
          </form>
          <!-- END Basic Form Elements Content -->
        </div>
        <!-- END Basic Form Elements Block -->
      </div>
    </div>
  </div>
</body>

{% endblock mainblock %}