{% extends 'master.html' %}
{% load static %}


{% block mainblock %}
<div id="page-content">
  <div class="content-header">
    <div class="header-section">
      <h1 class="text-center" dir="rtl">
        <i class="gi gi-money text-success"></i>كشف المرتبات<br><small>حركة جميع المرتبات التي تم
          صرفها</small>
      </h1>
    </div>
  </div>
  <div class="block">
    <div>
      <h2 class="text-center text-success">تفاصيل السلفة</h2>
    </div>
    <table class="table table-vcenter table-striped">
      <thead>
        <tr>
          <th style="width: 150px;" class="text-center">عرض المزيد</th>
          <th class="hidden-sm hidden-xs">العمل الإضافي</th>
          <th class="hidden-sm hidden-xs">الرعاية الصحية</th>
          <th class="hidden-sm hidden-xs">السلفة</th>
          <th>صافي المرتب</th>
          <th class="hidden-xs">السنة</th>
          <th>الشهر</th>
        </tr>
      </thead>
      <tbody>
        {% for loan in loan_list %}
        <tr>
          <td class="hidden-sm hidden-xs"><a href="javascript:void(0)" class="label label-warning">{{loan.loan}}</a>
          </td>
          <td class="hidden-sm hidden-xs"><a href="javascript:void(0)" class="label label-warning">{{loan.balance}}</a>
          </td>
          <td class="hidden-sm hidden-xs"><a href="javascript:void(0)"
              class="label label-warning">{{loan.disc_amount}}</a>
          </td>
        </tr>
        {% endfor %}

      </tbody>
    </table>
  </div>
</div>

{% endblock mainblock %}