{% extends 'master.html' %}
{% load static %}


{% block mainblock %}
<div id="page-content">
  <div class="content-header">
    <div class="header-section">
      <h1 class="text-center" dir="rtl">
        <i class="gi gi-money text-success"></i>كشف المرتبات<br><small>حركة جميع المرتبات التي تم
          صرفها</small>
      </h1>
    </div>
  </div>
  <div class="block">
    <div>
      <h2 class="text-center text-success">تفاصيل السلفة</h2>
    </div>
    <table class="table table-vcenter table-striped">
      <thead>
        <tr>
          <!-- <th style="width: 150px;" class="text-center">عرض المزيد</th> -->
          <th class="text-center animation-pullDown"> الإستقطاع الشهري</th>
          <th class="text-center animation-pullDown">الرصيد المتبقي</th>
          <th class="text-center animation-pullDown">قيمة السلفة</th>
          <!-- <th>صافي المرتب</th>
          <th class="hidden-xs">السنة</th>
          <th>الشهر</th> -->
        </tr>
      </thead>
      <tbody>
        {% for loan in loan_list %}
        <tr>
          <td>
            <h3 class="text-danger text-center animation-fadeIn">{{loan.disc_amount}}</h3>
          </td>
          <td>
            <h3 class="text-success text-center animation-fadeIn">{{loan.balance}}</h3>
          </td>

          <td>
            <h3 class="text-info text-center animation-fadeIn">{{loan.loan}}</h3>
          </td>

        </tr>
        {% endfor %}

      </tbody>
    </table>
  </div>
</div>

{% endblock mainblock %}