{% load static %}
<!DOCTYPE html>
<!--[if IE 9]>         <html class="no-js lt-ie10" lang="ar"> <![endif]-->
<!--[if gt IE 9]><!-->
<html class="no-js" lang="ar">
<!--<![endif]-->

<head>
    <meta charset="utf-8">

    <title>رواتبكم</title>

    <meta name="description"
        content="ProUI is a Responsive Bootstrap Admin Template created by pixelcave and published on Themeforest.">
    <meta name="author" content="pixelcave">
    <meta name="robots" content="noindex, nofollow">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=0">

    <!-- Icons -->
    <!-- The following icons can be replaced with your own, they are used by desktop and mobile browsers -->
    <link rel="shortcut icon" href="{% static 'img/favicon.png' %}">
    <link rel="apple-touch-icon" href="{% static 'img/icon57.png' %}" sizes="57x57">
    <link rel="apple-touch-icon" href="{% static 'img/icon72.png' %}" sizes="72x72">
    <link rel="apple-touch-icon" href="{% static 'img/icon76.png' %}" sizes="76x76">
    <link rel="apple-touch-icon" href="{% static 'img/icon114.png' %}" sizes="114x114">
    <link rel="apple-touch-icon" href="{% static 'img/icon120.png' %}" sizes="120x120">
    <link rel="apple-touch-icon" href="{% static 'img/icon144.png' %}" sizes="144x144">
    <link rel="apple-touch-icon" href="{% static 'img/icon152.png' %}" sizes="152x152">
    <link rel="apple-touch-icon" href="{% static 'img/icon180.png' %}" sizes="180x180">
    <!-- END Icons -->

    <!-- Stylesheets -->
    <!-- Bootstrap is included in its original form, unaltered -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">

    <!-- Related styles of various icon packs and plugins -->
    <link rel="stylesheet" href="{% static 'css/plugins.css' %}">

    <!-- The main stylesheet of this template. All Bootstrap overwrites are defined in here -->
    <link rel="stylesheet" href="{% static 'css/main.css' %}">

    <!-- Include a specific file here from css/themes/ folder to alter the default theme of the template -->

    <!-- The themes stylesheet of this template (for using specific theme color in individual elements - must included last) -->
    <link rel="stylesheet" href="{% static 'css/themes.css' %}">
    <!-- END Stylesheets -->

    <!-- Modernizr (browser feature detection library) -->
    <script src="{% static 'front/js/vendor/modernizr.min.js' %}"></script>
    <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;700&display=swap" rel="stylesheet">

    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>



</head>

<body style="font-family:  'Cairo', sans-serif;">
    <!-- Page Wrapper -->
    <div id="page-wrapper">
        <!-- Preloader -->
        <!-- Preloader functionality (initialized in js/app.js) - pageLoading() -->
        <div class="preloader themed-background">
            <h1 class="push-top-bottom text-light text-center"><strong>رواتب</strong>بكم</h1>
            <div class="inner">
                <h3 class="text-light visible-lt-ie10"><strong>تحميل..</strong></h3>
                <div class="preloader-spinner hidden-lt-ie10"></div>
            </div>
        </div>
        <!-- END Preloader -->

        <!-- Page Container -->
        <div id="page-container" class="sidebar-partial sidebar-visible-lg sidebar-no-animations">
            <!-- Main Sidebar -->
            <div id="sidebar">
                <!-- Wrapper for scrolling functionality -->
                <div id="sidebar-scroll">
                    <!-- Sidebar Content -->
                    <div class="sidebar-content">
                        <!-- Brand -->
                        <a href="/dash" class="sidebar-brand">
                            <i class="gi gi-flash"></i><span
                                class="sidebar-nav-mini-hide"><strong>رواتب</strong>كم</span>
                        </a>
                        <!-- END Brand -->

                        <!-- User Info -->
                        <div class="sidebar-section sidebar-user clearfix sidebar-nav-mini-hide">
                            <div class="sidebar-user-avatar">
                                <a href="/pro">
                                    <img src="{% static 'img/placeholders/avatars/avatar2.jpg' %}" alt="avatar">
                                </a>
                            </div>
                            <div class="sidebar-user-name">{{ user.get_short_name }}</div>
                            <div class="sidebar-user-links">
                                <a href="/pro" data-toggle="tooltip" data-placement="bottom" title="Profile"><i
                                        class="gi gi-user"></i></a>
                                <a href="#" data-toggle="tooltip" data-placement="bottom" title="Messages"><i
                                        class="gi gi-envelope"></i></a>
                                <!-- Opens the user settings modal that can be found at the bottom of each page (page_footer.html in PHP version) -->
                                <a href="javascript:void(0)" class="enable-tooltip" data-placement="bottom"
                                    title="Settings" onclick="$('#modal-user-settings').modal('show');"><i
                                        class="gi gi-cogwheel"></i></a>
                                        <!-- <a href="#" onclick="$('#signOutBtn').click()" class="nav-link active ">تسجيل خروج</a>
                                        <form style='display: none;' method="POST" action="{% url 'logoutuser' %}">
                                            {% csrf_token %}
                                            <button id="signOutBtn" type="submit">تسجيل خروج</button>
                                        </form> -->
                        
                <a href="#" onclick="$('#signOutBtn').click()" class="nav-link active ">تسجيل خروج</a>
                <form style='display: none;' method="POST" action="{% url 'logoutuser' %}">
                    {% csrf_token %}
                    <button id="signOutBtn" type="submit">تسجيل خروج</button>
                </form>
                            </div>
                        </div>
                        <!-- END User Info -->

                        <!-- Theme Colors -->
                        <!-- Change Color Theme functionality can be found in js/app.js - templateOptions() -->
                        <ul class="sidebar-section sidebar-themes clearfix sidebar-nav-mini-hide">
                            <!-- You can also add the default color theme
                                <li class="active">
                                    <a href="javascript:void(0)" class="themed-background-dark-default themed-border-default" data-theme="default" data-toggle="tooltip" title="Default Blue"></a>
                                </li>
                                -->
                        </ul>
                        <!-- END Theme Colors -->

                        <!-- Sidebar Navigation -->
                        <ul class="sidebar-nav">
                            <li>
                                <a href="/dash" class=" active"><i class="gi gi-stopwatch sidebar-nav-icon"></i><span
                                        class="sidebar-nav-mini-hide">المعلومات العامة</span></a>
                            </li>

                        </ul>
                        <!-- END Sidebar Navigation -->

                    </div>
                    <!-- END Sidebar Content -->
                </div>
                <!-- END Wrapper for scrolling functionality -->
            </div>
            <!-- END Main Sidebar -->

            <!-- Main Container -->
            <div id="main-container">
                <!-- Header -->
                <header class="navbar navbar-default">
                    <!-- Left Header Navigation -->
                    <ul class="nav navbar-nav-custom">
                        <!-- Main Sidebar Toggle Button -->
                        <li>
                            <a href="javascript:void(0)" onclick="App.sidebar('toggle-sidebar');this.blur();">
                                <i class="fa fa-bars fa-fw"></i>
                            </a>
                        </li>
                        <!-- END Main Sidebar Toggle Button -->

                        <!-- Template Options -->
                        <!-- Change Options functionality can be found in js/app.js - templateOptions() -->
                        <li class="dropdown">
                            <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown">
                                <i class="gi gi-settings"></i>
                            </a>
                            <ul class="dropdown-menu dropdown-custom dropdown-options">
                                <li class="dropdown-header text-center">Header Style</li>
                                <li>
                                    <div class="btn-group btn-group-justified btn-group-sm">
                                        <a href="javascript:void(0)" class="btn btn-primary"
                                            id="options-header-default">Light</a>
                                        <a href="javascript:void(0)" class="btn btn-primary"
                                            id="options-header-inverse">Dark</a>
                                    </div>
                                </li>
                                <li class="dropdown-header text-center">Page Style</li>
                                <li>
                                    <div class="btn-group btn-group-justified btn-group-sm">
                                        <a href="javascript:void(0)" class="btn btn-primary"
                                            id="options-main-style">Default</a>
                                        <a href="javascript:void(0)" class="btn btn-primary"
                                            id="options-main-style-alt">Alternative</a>
                                    </div>
                                </li>
                            </ul>
                        </li>
                        <!-- END Template Options -->
                    </ul>
                    <!-- END Left Header Navigation -->

                    <!-- Right Header Navigation -->
                    <ul class="nav navbar-nav-custom pull-right">
                        <!-- Alternative Sidebar Toggle Button -->
                        <!-- END Alternative Sidebar Toggle Button -->

                        <!-- User Dropdown -->
                        <li class="dropdown">
                            <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown">
                                <img src="{% static 'img/placeholders/avatars/avatar2.jpg' %}" alt="avatar"> <i
                                    class="fa fa-angle-down"></i>
                            </a>
                            <ul class="dropdown-menu dropdown-custom dropdown-menu-right">
                                <li class="dropdown-header text-center">حسابي</li>
                                <li class="divider"></li>
                                <li>
                                    <a href="page_ready_user_profile.html">
                                        <i class="fa fa-user fa-fw pull-right"></i>
                                        البيانات الاساسية
                                    </a>
                                    <!-- Opens the user settings modal that can be found at the bottom of each page (page_footer.html in PHP version) -->
                                    <a href="#modal-user-settings" data-toggle="modal">
                                        <i class="fa fa-cog fa-fw pull-right"></i>
                                        اعدادات الحساب
                                    </a>
                                </li>
                                <li class="divider"></li>
                                <li>
                                    <a href="page_ready_lock_screen.html"><i class="fa fa-lock fa-fw pull-right"></i>
                                        قفل الحساب</a>
                                    <a href="javascript:{document.getElementById('logout').submit()}"><i
                                            class="fa fa-ban fa-fw pull-right"></i> تسجيل
                                        الخروج</a>
                                </li>
                        </li>
                    </ul>
                    </li>
                    <!-- END User Dropdown -->
                    </ul>
                    <!-- END Right Header Navigation -->
                </header>
                <!-- END Header -->

                {%  block mainblock %}

                {% endblock mainblock %}

                <!-- Footer -->
                <footer class="clearfix">
                    <div class="pull-right">
                        برمجة وتحليل م <a href="#" target="_blank"> أسامة الحسني</a>
                    </div>
                    <div class="pull-left">
                        <span id="year-copy"></span> &copy; <a href="#" target="_blank">مركز الإتصال بخدمة العملاء</a>
                    </div>
                </footer>
                <!-- END Footer -->
            </div>
            <!-- END Main Container -->
        </div>
        <!-- END Page Container -->
    </div>
    <!-- END Page Wrapper -->

    <!-- Scroll to top link, initialized in js/app.js - scrollToTop() -->
    <a href="#" id="to-top"><i class="fa fa-angle-double-up"></i></a>

    <!-- User Settings, modal which opens from Settings link (found in top right user menu) and the Cog link (found in sidebar user info) -->
    <div id="modal-user-settings" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <!-- Modal Header -->
                <div class="modal-header text-center">
                    <h2 class="modal-title"><i class="fa fa-pencil"></i> إعدادات</h2>
                </div>
                <!-- END Modal Header -->

                <!-- Modal Body -->
                <div class="modal-body">
                    <form action="index.html" method="post" enctype="multipart/form-data"
                        class="form-horizontal form-bordered" onsubmit="return false;">
                        <fieldset>
                            <legend class="text-right">البيانات الاساسية</legend>
                            <div class="form-group">
                                <div class="col-md-8">
                                    <p class="form-control-static text-right">علي عبدالحفيظ</p>
                                </div>
                                <label class="col-md-4 control-label text-right">الأسم</label>
                            </div>
                            <div class="form-group">
                                <div class="col-md-8">
                                    <input type="email" id="user-settings-email text-right" name="user-settings-email"
                                        class="form-control" value="admin@example.com">
                                </div>
                                <label class="col-md-4 control-label text-right" for="user-settings-email">البريد
                                    الإلكتروني</label>

                            </div>
                            <div class="form-group">
                                <label class="col-md-4 control-label" for="user-settings-notifications">استلام الاشعارات
                                    بالبريد</label>
                                <div class="col-md-8">
                                    <label class="switch switch-primary">
                                        <input type="checkbox" id="user-settings-notifications"
                                            name="user-settings-notifications" value="1" checked>
                                        <span></span>
                                    </label>
                                </div>
                            </div>
                        </fieldset>
                        <fieldset>
                            <legend>تحديث كلمة المرور</legend>
                            <div class="form-group">
                                <label class="col-md-4 control-label" for="user-settings-password">كلمة المرور
                                    الجديدة</label>
                                <div class="col-md-8">
                                    <input type="password" id="user-settings-password" name="user-settings-password"
                                        class="form-control" placeholder="الرجاء اختيار كلمة مرور قوية">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-4 control-label" for="user-settings-repassword">تأكيد كلمة المرور
                                    الجديدة</label>
                                <div class="col-md-8">
                                    <input type="password" id="user-settings-repassword" name="user-settings-repassword"
                                        class="form-control" placeholder="تأكيد كلمة المرور">
                                </div>
                            </div>
                        </fieldset>
                        <div class="form-group form-actions">
                            <div class="col-xs-12 text-right">
                                <button type="button" class="btn btn-sm btn-default" data-dismiss="modal">خروج</button>
                                <button type="submit" class="btn btn-sm btn-primary">حفظ التغييرات</button>
                            </div>
                        </div>
                    </form>
                </div>
                <!-- END Modal Body -->
            </div>
        </div>
    </div>
    <!-- END User Settings -->

    <!-- jQuery, Bootstrap.js, jQuery plugins and Custom JS code -->
    <script src="{% static 'js/vendor/jquery.min.js' %}"></script>
    <script src="{% static 'js/vendor/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/plugins.js' %}"></script>
    <script src="{% static 'js/app.js' %}"></script>

    <!-- Google Maps API Key (you will have to obtain a Google Maps API key to use Google Maps) -->
    <!-- For more info please have a look at https://developers.google.com/maps/documentation/javascript/get-api-key#key -->
    <script src="https://maps.googleapis.com/maps/api/js?key="></script>
    <script src="{% static 'js/helpers/gmaps.min.js' %}"></script>

    <!-- Load and execute javascript code used only in this page -->
    <script src="{% static 'js/pages/index.js' %}"></script>
    <script>$(function () { Index.init(); });</script>
</body>

</html>