{% extends 'master.html' %} {% load static %} {% block mainblock %}

<body style="font-family: 'Cairo', sans-serif">
    <div id="page-content">
        <!-- Forms General Header -->
        <div class="content-header">
            <div class="header-section">
                <h1>
                    <i class="gi gi-notes_2"></i>
                    <p class="text-right" dir="rtl">البيانات الأساسية</p>
                </h1>
            </div>
        </div>
        <!-- END Forms General Header -->

        <div class="row">
            <div class="col-md-12">
                <!-- Basic Form Elements Block -->
                <div class="block">
                    <!-- Basic Form Elements Content -->
                    <form action="{% url 'profile' %}" method="post" enctype="multipart/form-data"
                        class="form-horizontal form-bordered" >
                        {% csrf_token %}
                        <div class="form-group">
                            <div class="col-md-6">
                                <div class="col-md-10">
                                    <span class="help-block text-center" dir="rtl">{{user.first_name}}</span>
                                    <!-- <input type="text" id="example-text-input" name="example-text-input"
                                        class="form-control text-right" dir="rtl" placeholder="الإسم واللقب" /> -->
                                </div>
                                <div class="col-md-2">
                                    <span class="help-block text-center" dir="rtl">الإسم واللقب</span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="col-md-8">
                                    <div class="col-md-4">
                                        <span class="help-block text-center" dir="rtl">{{user.username}}</span>
                                    </div>

                                    <!-- <input type="text" id="example-text-input" name="example-text-input"
                                        class="form-control text-right" dir="rtl" placeholder="الرقم الوظيفي" /> -->
                                </div>
                                <div class="col-md-4">
                                    <span class="help-block text-center" dir="rtl">الرقم الوظيفي</span>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-6">
                                <div class="col-md-10">
                                    <input type="email" id="email-input" name="email-input"
                                        class="form-control text-right" placeholder="البريد الإلكتروني" />
                                    <script type="text/javascript">
                                        document.getElementById("email-input").setAttribute('value', "{{ user.email }}");
                                    </script>
                                </div>
                                <div class="col-md-2">
                                    <span class="help-block text-center">البريد الإلكتروني</span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="col-md-8">
                                    <input type="text" id="mobile-no" name="mobile-no"
                                        class="form-control text-right" dir="rtl" placeholder="09X-XXX-XXXX" />
                                    {% if employee %}
                                    {% for emp in employee %}
                                    <script type="text/javascript">
                                        document.getElementById("mobile-no").setAttribute('value', "{{ emp.moblie_no }}");
                                    </script>
                                    {% endfor  %}
                                    {% endif %}
                                </div>
                                <div class="col-md-4">
                                    <span class="help-block text-center" dir="rtl">رقم الهاتف</span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-6">

                            </div>
                            <div class="col-md-6">
                                <div class="col-md-8">
                                    <select id="mangement" name="mangement" class="form-control text-right"
                                        size="1">
                                        <option value="0">الرجاء إختيار الإدارة التي تتبعها</option>
                                        {% for mangement in mangemnts %}
                                        {% if employee %}
                                        {% for emp in employee %}
                                        {% endfor %}
                                        {% endif %}
                                        <option value="{{mangement.id}}"{% if emp.mangment_id == mangement %} selected {% endif %}>{{mangement.mangemen_name}}</option>
                                        {% endfor  %}

                                    </select>

                                </div>
                                <div class="col-md-4">
                                    <span class="help-block text-center">الإدارة</span>
                                </div>
                            </div>

                        </div>
                        <div class="form-group">
                            <div class="col-md-9 text-right">
                                <label class="checkbox-inline" for="sms-checkbox">
                                    <input type="checkbox" id="sms-checkbox" name="sms-checkbox"
                                        value="sms" />
                                    رسالة نصية
                                </label>
                                <label class="checkbox-inline" for="voice-checkbox">
                                    <input type="checkbox" id="voice-checkbox" name="voice-checkbox"
                                        value="voice" />
                                    رسالة صوتية
                                </label>
                                <label class="checkbox-inline" for="email-checkbox">
                                    <input type="checkbox" id="email-checkbox" name="email-checkbox"
                                        value="email" />
                                    بريد إلكتروني
                                </label>
                            </div>

                            <label class="col-md-3 control-label text-right">الخدمات التي ترغب بالإشتراك بها</label>
                        </div>
                        <div class="form-group form-actions">
                            <div class="col-md-6 ">
                                <button type="reset" class="btn btn-lg btn-warning btn-block">
                                    <i class="fa fa-repeat"></i> تراجع
                                </button>
                            </div>
                            <div class="col-md-6 ">
                                <button type="submit" class="btn btn-lg btn-primary btn-block ">
                                    <i class="fa fa-floppy-o"></i> حفظ التعديلات
                                </button>
                            </div>

                        </div>
                    </form>
                    <!-- END Basic Form Elements Content -->
                </div>
                <!-- END Basic Form Elements Block -->
            </div>
        </div>
    </div>
</body>

{% endblock mainblock %}