{% extends 'master.html' %} {% load static %} {% block mainblock1 %}
<div id="modal-user-settings" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">

    <div class="modal-dialog">
      <div class="modal-content">
        <!-- Modal Header -->
        <div class="modal-header text-center">
          <h2 class="modal-title"><i class="fa fa-pencil"></i> إعدادات</h2>
        </div>
        <!-- END Modal Header -->

        <!-- Modal Body -->
        <div class="modal-body">
          <form action="index.html" method="post" enctype="multipart/form-data" class="form-horizontal form-bordered"
            onsubmit="return false;">
            {% csrf_token %}
            <fieldset>
              <legend class="text-right">البيانات الاساسية</legend>
              <div class="form-group">
                <div class="col-md-8">
                  <p class="form-control-static text-right">{{ user.get_short_name }}</p>
                </div>
                <label class="col-md-4 control-label text-right">الأسم</label>
              </div>
              <div class="form-group">
                <div class="col-md-8">
                  <input type="email" id="user-settings-email text-right" name="user-settings-email"
                    class="form-control" value="{{ user.email }}">
                </div>
                <label class="col-md-4 control-label text-right" for="user-settings-email">البريد
                  الإلكتروني</label>

              </div>
              <div class="form-group">
                <label class="col-md-4 control-label" for="user-settings-notifications">استلام الاشعارات
                  بالبريد</label>
                <div class="col-md-8">
                  <label class="switch switch-primary">
                    <input type="checkbox" id="user-settings-notifications" name="user-settings-notifications" value="1"
                      checked>
                    <span></span>
                  </label>
                </div>
              </div>
            </fieldset>
            <fieldset>
              <legend class="text-center text-danger"><i class="fa fa-key"></i> تحديث كلمة المرور
              </legend>
              <div class="form-group">
                <div class="col-md-8">
                  <input type="password" id="user-settings-password" name="user-settings-password" class="form-control"
                    placeholder="الرجاء اختيار كلمة مرور قوية">
                </div>
                <label class="col-md-4 control-label" for="user-settings-password">كلمة المرور
                  الجديدة</label>

              </div>
              <div class="form-group">
                <div class="col-md-8">
                  <input type="password" id="user-settings-repassword" name="user-settings-repassword"
                    class="form-control" placeholder="تأكيد كلمة المرور">
                </div>
                <label class="col-md-4 control-label" for="user-settings-repassword">تأكيد كلمة المرور
                  الجديدة</label>

              </div>
            </fieldset>
            <div class="form-group form-actions">
              <div class="col-xs-12 text-right">
                <button type="button" class="btn btn-sm btn-default" data-dismiss="modal">خروج</button>
                <button type="submit" class="btn btn-sm btn-primary">حفظ التغييرات</button>
              </div>
            </div>
          </form>
        </div>
        <!-- END Modal Body -->
      </div>
    </div>
  </div>
</div>

{% endblock mainblock1 %}