{% block content %}
<div class="row justify-content-center mt-5">
  <div class="col-md-5">

    <h2>{{Msg}}</h2>
  </div>
</div>
<div class="row justify-content-center mt-5">
  <div class="col-md-6">
    {% if error %}
    <div class="alert alert-danger" role="alert">
      {{ error }}
    </div>
    {% endif %}
    <form method="POST">
      {% csrf_token %}
      <div class="form-group">
        <label for="password">كلمة المرور</label>
        <input type="password" name="password" class="form-control" id="password">
      </div>
      <button type="submit" class="btn btn-success  btn-block">دخول</button>
    </form>
    <hr>
    <div class="text-center">
      لست مشترك بالمنظومة ؟ <a href="{% url 'emport' %}">تسجيل جديد </a>
    </div>
  </div>
</div>
{% endblock %}